<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.BotMapper">
    <select id="getToken" resultType="String">
        SELECT token FROM bot.token WHERE name = #{botName}
    </select>
</mapper>