<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.LogChannelMapper">
    <select id="getLogChannel" resultMap="sql.mapper.ModelMapper.serverChannel">
        SELECT
            server_id,
            channel_id
        FROM bot.log_channel
        WHERE name = #{logName}
    </select>
</mapper>
