<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.mapper.ModelMapper">
    <resultMap id="serverChannel" type="model.ServerChannel">
        <result column="server_id" property="serverId"/>
        <result column="chanel_id" property="channelId"/>
    </resultMap>
</mapper>
